.asideContainer{
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background-color: black;
  width: 20vw;
  height: 100%;
}

.asideContainer img{
  margin: 25px;
  width: 47%;
}

.asideContainer p{
  margin-left: 25px;
  color: rgba(245, 245, 245, 0.621);
  padding: 5px;
}
